
<header class="main-header">
    <!-- Logo -->
    <a href="${request.contextPath}/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><!-- <b>A</b>LT -->广</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><!-- <b>Admin</b>LTE -->广播</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav" id="">
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu" id="NOTIFICATION_DATA_LIST">
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img  class="user-image userHeadPhoto" alt="User Image"
               src="/dist/img/user1-128x128.jpg">
              <span class="hidden-xs userNameSpan"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img class="img-circle userHeadPhoto" alt="User Image"
                src="/dist/img/user1-128x128.jpg">
                <p>
                  <span class="userNameSpan"></span>
                </p>
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="javascript:void(0)" onclick="$('#CONTENT_WRAPPER').load('profile.do')" class="btn btn-default btn-flat">个人中心</a>
                </div>
                <div class="pull-right">
                  <a href="signOut.do" class="btn btn-default btn-flat">退出</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
