<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.jkbase.mapper.SysAreaMapper" >
  <resultMap id="BaseResultMap" type="com.jack.jkbase.entity.SysArea" >
    <id column="AreaId" property="areaid" jdbcType="INTEGER" />
    <result column="A_AreaNo" property="aAreano" jdbcType="VARCHAR" />
    <result column="A_AreaCode" property="aAreacode" jdbcType="VARCHAR" />
    <result column="A_AreaName" property="aAreaname" jdbcType="NVARCHAR" />
    <result column="A_ParentId" property="aParentid" jdbcType="INTEGER" />
    <result column="A_Level" property="aLevel" jdbcType="INTEGER" />
    <result column="A_LevelName" property="aLevelname" jdbcType="NVARCHAR" />
    <result column="A_Zoning" property="aZoning" jdbcType="NVARCHAR" />
    <result column="A_ShowOrder" property="aShoworder" jdbcType="INTEGER" />
  </resultMap>
<!-- 查询全部  ,(select A_AreaName from sys_Area where AreaId = a.A_ParentId) A_ParentName -->
  <select id="selectAll" resultMap="BaseResultMap">
  	 select *from sys_Area a
  	 order by A_Level,A_ShowOrder
  </select>
  <!-- 删除本身以及子节点 -->
  <delete id="deleteAllByParent" parameterType="java.lang.Integer">
  	  delete from sys_Area where AreaId = #{param1} or A_ParentId = #{param1}
  </delete>
  
  <!-- 自动 -->
  <sql id="Base_Column_List" >
    AreaId, A_AreaNo, A_AreaCode, A_AreaName, A_ParentId, A_Level, A_LevelName, A_Zoning, 
    A_ShowOrder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from sys_Area
    where AreaId = #{areaid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_Area
    where AreaId = #{areaid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="areaid">
    insert into sys_Area (A_AreaNo, A_AreaCode, 
      A_AreaName, A_ParentId, A_Level, 
      A_LevelName, A_Zoning, A_ShowOrder
      )
    values ( #{aAreano,jdbcType=VARCHAR}, #{aAreacode,jdbcType=VARCHAR}, 
      #{aAreaname,jdbcType=NVARCHAR}, #{aParentid,jdbcType=INTEGER}, #{aLevel,jdbcType=INTEGER}, 
      #{aLevelname,jdbcType=NVARCHAR}, #{aZoning,jdbcType=NVARCHAR}, #{aShoworder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="areaid">
    insert into sys_Area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aAreano != null" >
        A_AreaNo,
      </if>
      <if test="aAreacode != null" >
        A_AreaCode,
      </if>
      <if test="aAreaname != null" >
        A_AreaName,
      </if>
      <if test="aParentid != null" >
        A_ParentId,
      </if>
      <if test="aLevel != null" >
        A_Level,
      </if>
      <if test="aLevelname != null" >
        A_LevelName,
      </if>
      <if test="aZoning != null" >
        A_Zoning,
      </if>
      <if test="aShoworder != null" >
        A_ShowOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aAreano != null" >
        #{aAreano,jdbcType=VARCHAR},
      </if>
      <if test="aAreacode != null" >
        #{aAreacode,jdbcType=VARCHAR},
      </if>
      <if test="aAreaname != null" >
        #{aAreaname,jdbcType=NVARCHAR},
      </if>
      <if test="aParentid != null" >
        #{aParentid,jdbcType=INTEGER},
      </if>
      <if test="aLevel != null" >
        #{aLevel,jdbcType=INTEGER},
      </if>
      <if test="aLevelname != null" >
        #{aLevelname,jdbcType=NVARCHAR},
      </if>
      <if test="aZoning != null" >
        #{aZoning,jdbcType=NVARCHAR},
      </if>
      <if test="aShoworder != null" >
        #{aShoworder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jack.jkbase.entity.SysArea" >
    update sys_Area
    <set >
      <if test="aAreano != null" >
        A_AreaNo = #{aAreano,jdbcType=VARCHAR},
      </if>
      <if test="aAreacode != null" >
        A_AreaCode = #{aAreacode,jdbcType=VARCHAR},
      </if>
      <if test="aAreaname != null" >
        A_AreaName = #{aAreaname,jdbcType=NVARCHAR},
      </if>
      <if test="aParentid != null" >
        A_ParentId = #{aParentid,jdbcType=INTEGER},
      </if>
      <if test="aLevel != null" >
        A_Level = #{aLevel,jdbcType=INTEGER},
      </if>
      <if test="aLevelname != null" >
        A_LevelName = #{aLevelname,jdbcType=NVARCHAR},
      </if>
      <if test="aZoning != null" >
        A_Zoning = #{aZoning,jdbcType=NVARCHAR},
      </if>
      <if test="aShoworder != null" >
        A_ShowOrder = #{aShoworder,jdbcType=INTEGER},
      </if>
    </set>
    where AreaId = #{areaid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jack.jkbase.entity.SysArea" >
    update sys_Area
    set A_AreaNo = #{aAreano,jdbcType=VARCHAR},
      A_AreaCode = #{aAreacode,jdbcType=VARCHAR},
      A_AreaName = #{aAreaname,jdbcType=NVARCHAR},
      A_ParentId = #{aParentid,jdbcType=INTEGER},
      A_Level = #{aLevel,jdbcType=INTEGER},
      A_LevelName = #{aLevelname,jdbcType=NVARCHAR},
      A_Zoning = #{aZoning,jdbcType=NVARCHAR},
      A_ShowOrder = #{aShoworder,jdbcType=INTEGER}
    where AreaId = #{areaid,jdbcType=INTEGER}
  </update>
</mapper>