<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.jkbase.mapper.SysAppMapper" >
  <resultMap id="BaseResultMap" type="com.jack.jkbase.entity.SysApp" >
    <id column="AppID" property="appid" jdbcType="INTEGER" />
    <result column="A_AppName" property="aAppname" jdbcType="NVARCHAR" />
    <result column="A_AppDesc" property="aAppdesc" jdbcType="NVARCHAR" />
    <result column="A_AppUrl" property="aAppurl" jdbcType="NVARCHAR" />
    <result column="A_IsSys" property="aIssys" jdbcType="INTEGER" />
    <result column="A_Version" property="aVersion" jdbcType="NVARCHAR" />
  </resultMap>
 <!--  -->
 <select id="findAll" resultMap="BaseResultMap">
 	select * from sys_App
 </select>
 <!-- 查询某个角色其他可添加的应用，用于添加角色应用的下拉框选择  -->
  <select id="findByRole" resultMap="BaseResultMap">
 	select * from sys_App where A_IsSys =0 and AppID not in "+
			"( select A_AppId from sys_RoleApp where A_RoleID = #{value} )
 </select>
  <select id="findByaIssys" resultMap="BaseResultMap">
 	select * from sys_App where A_IsSys =#{value}
 </select>
 <!-- 自动生成 -->
  <sql id="Base_Column_List" >
    AppID, A_AppName, A_AppDesc, A_AppUrl, A_IsSys, A_Version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_App
    where AppID = #{appid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_App
    where AppID = #{appid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="appid">
    insert into sys_App (A_AppName, A_AppDesc, 
      A_AppUrl, A_IsSys, A_Version
      )
    values (#{aAppname,jdbcType=NVARCHAR}, #{aAppdesc,jdbcType=NVARCHAR}, 
      #{aAppurl,jdbcType=NVARCHAR}, #{aIssys,jdbcType=INTEGER}, #{aVersion,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="appid">
    insert into sys_App
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aAppname != null" >
        A_AppName,
      </if>
      <if test="aAppdesc != null" >
        A_AppDesc,
      </if>
      <if test="aAppurl != null" >
        A_AppUrl,
      </if>
      <if test="aIssys != null" >
        A_IsSys,
      </if>
      <if test="aVersion != null" >
        A_Version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aAppname != null" >
        #{aAppname,jdbcType=NVARCHAR},
      </if>
      <if test="aAppdesc != null" >
        #{aAppdesc,jdbcType=NVARCHAR},
      </if>
      <if test="aAppurl != null" >
        #{aAppurl,jdbcType=NVARCHAR},
      </if>
      <if test="aIssys != null" >
        #{aIssys,jdbcType=INTEGER},
      </if>
      <if test="aVersion != null" >
        #{aVersion,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jack.jkbase.entity.SysApp" >
    update sys_App
    <set >
      <if test="aAppname != null" >
        A_AppName = #{aAppname,jdbcType=NVARCHAR},
      </if>
      <if test="aAppdesc != null" >
        A_AppDesc = #{aAppdesc,jdbcType=NVARCHAR},
      </if>
      <if test="aAppurl != null" >
        A_AppUrl = #{aAppurl,jdbcType=NVARCHAR},
      </if>
      <if test="aIssys != null" >
        A_IsSys = #{aIssys,jdbcType=INTEGER},
      </if>
      <if test="aVersion != null" >
        A_Version = #{aVersion,jdbcType=NVARCHAR},
      </if>
    </set>
    where AppID = #{appid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jack.jkbase.entity.SysApp" >
    update sys_App
    set A_AppName = #{aAppname,jdbcType=NVARCHAR},
      A_AppDesc = #{aAppdesc,jdbcType=NVARCHAR},
      A_AppUrl = #{aAppurl,jdbcType=NVARCHAR},
      A_IsSys = #{aIssys,jdbcType=INTEGER},
      A_Version = #{aVersion,jdbcType=NVARCHAR}
    where AppID = #{appid,jdbcType=INTEGER}
  </update>
</mapper>