<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.jkbase.mapper.SysFieldValueMapper" >
  <resultMap id="BaseResultMap" type="com.jack.jkbase.entity.SysFieldValue" >
    <id column="ValueID" property="valueid" jdbcType="INTEGER" />
    <result column="V_FieldID" property="vFieldid" jdbcType="INTEGER" />
    <result column="V_Text" property="vText" jdbcType="NVARCHAR" />
    <result column="V_ShowOrder" property="vShoworder" jdbcType="INTEGER" />
  </resultMap>
  <select id="findAll" resultMap="BaseResultMap">
  select * from sys_FieldValue order by V_FieldID,V_ShowOrder
  </select>
  <select id="findByvFieldid" resultMap="BaseResultMap">
  select * from sys_FieldValue where V_FieldID=#{value}
  </select>
 <!--自动  -->
  <sql id="Base_Column_List" >
    ValueID, V_FieldID, V_Text, V_ShowOrder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from sys_FieldValue
    where ValueID = #{valueid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_FieldValue
    where ValueID = #{valueid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="valueid">
    insert into sys_FieldValue ( V_FieldID, V_Text, 
      V_ShowOrder)
    values ( #{vFieldid,jdbcType=INTEGER}, #{vText,jdbcType=NVARCHAR}, 
      #{vShoworder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="valueid">
    insert into sys_FieldValue
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vFieldid != null" >
        V_FieldID,
      </if>
      <if test="vText != null" >
        V_Text,
      </if>
      <if test="vShoworder != null" >
        V_ShowOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vFieldid != null" >
        #{vFieldid,jdbcType=INTEGER},
      </if>
      <if test="vText != null" >
        #{vText,jdbcType=NVARCHAR},
      </if>
      <if test="vShoworder != null" >
        #{vShoworder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jack.jkbase.entity.SysFieldValue" >
    update sys_FieldValue
    <set >
      <if test="vFieldid != null" >
        V_FieldID = #{vFieldid,jdbcType=INTEGER},
      </if>
      <if test="vText != null" >
        V_Text = #{vText,jdbcType=NVARCHAR},
      </if>
      <if test="vShoworder != null" >
        V_ShowOrder = #{vShoworder,jdbcType=INTEGER},
      </if>
    </set>
    where ValueID = #{valueid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jack.jkbase.entity.SysFieldValue" >
    update sys_FieldValue
    set V_FieldID = #{vFieldid,jdbcType=INTEGER},
      V_Text = #{vText,jdbcType=NVARCHAR},
      V_ShowOrder = #{vShoworder,jdbcType=INTEGER}
    where ValueID = #{valueid,jdbcType=INTEGER}
  </update>
</mapper>