<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.jkbase.mapper.SysModuleMapper" >
  <resultMap id="BaseResultMap" type="com.jack.jkbase.entity.ViewSysModule" >
    <id column="ModuleID" property="moduleid" jdbcType="INTEGER" />
    <result column="M_AppID" property="mAppid" jdbcType="INTEGER" />
    <result column="M_ParentID" property="mParentid" jdbcType="INTEGER" />
    <result column="M_CName" property="mCname" jdbcType="NVARCHAR" />
    <result column="M_URL" property="mUrl" jdbcType="NVARCHAR" />
    <result column="M_OrderLevel" property="mOrderlevel" jdbcType="VARCHAR" />
    <result column="M_IsSys" property="mIssys" jdbcType="INTEGER" />
    <result column="M_IsClose" property="mIsclose" jdbcType="INTEGER" />
    <result column="M_Icon" property="mIcon" jdbcType="VARCHAR" />
    <result column="M_Code" property="mCode"  />
    <!-- 视图 -->
    <result column="A_AppName" property="aAppname"/>
    <result column="M_ParentName" property="mParentname"/>
  </resultMap>
  <!--  查询模块下拉列表 ,排除不包含功能的父级模块-->
   <select id="selectComboExcludeParent" resultMap="BaseResultMap">
		select * from View_sys_Module   
		where M_URL is not null and M_URL != ''  and M_ParentID !=0
		order by M_AppID,M_OrderLevel
	</select>
    <!-- 查询全部 -->
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from View_sys_Module order by M_AppID,M_OrderLevel
  </select>
  
  <!-- 自动生成  -->
  <sql id="Base_Column_List" >
    ModuleID, M_AppID, M_ParentID, M_CName, M_URL, M_OrderLevel, M_IsSys, M_IsClose, 
    M_Icon
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from View_sys_Module where ModuleID = #{moduleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_Module
    where ModuleID = #{moduleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="moduleid">
    insert into sys_Module ( M_AppID, M_ParentID, 
      M_CName, M_URL, M_OrderLevel, 
      M_IsSys, M_IsClose, M_Icon
      )
    values (#{mAppid,jdbcType=INTEGER}, #{mParentid,jdbcType=INTEGER}, 
      #{mCname,jdbcType=NVARCHAR}, #{mUrl,jdbcType=NVARCHAR}, #{mOrderlevel,jdbcType=VARCHAR}, 
      #{mIssys,jdbcType=INTEGER}, #{mIsclose,jdbcType=INTEGER}, #{mIcon,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="moduleid">
    insert into sys_Module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mAppid != null" >
        M_AppID,
      </if>
      <if test="mParentid != null" >
        M_ParentID,
      </if>
      <if test="mCname != null" >
        M_CName,
      </if>
      <if test="mUrl != null" >
        M_URL,
      </if>
      <if test="mOrderlevel != null" >
        M_OrderLevel,
      </if>
      <if test="mIssys != null" >
        M_IsSys,
      </if>
      <if test="mIsclose != null" >
        M_IsClose,
      </if>
      <if test="mIcon != null" >
        M_Icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mAppid != null" >
        #{mAppid,jdbcType=INTEGER},
      </if>
      <if test="mParentid != null" >
        #{mParentid,jdbcType=INTEGER},
      </if>
      <if test="mCname != null" >
        #{mCname,jdbcType=NVARCHAR},
      </if>
      <if test="mUrl != null" >
        #{mUrl,jdbcType=NVARCHAR},
      </if>
      <if test="mOrderlevel != null" >
        #{mOrderlevel,jdbcType=VARCHAR},
      </if>
      <if test="mIssys != null" >
        #{mIssys,jdbcType=INTEGER},
      </if>
      <if test="mIsclose != null" >
        #{mIsclose,jdbcType=INTEGER},
      </if>
      <if test="mIcon != null" >
        #{mIcon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jack.jkbase.entity.SysModule" >
    update sys_Module
    <set >
      <if test="mAppid != null" >
        M_AppID = #{mAppid,jdbcType=INTEGER},
      </if>
      <if test="mParentid != null" >
        M_ParentID = #{mParentid,jdbcType=INTEGER},
      </if>
      <if test="mCname != null" >
        M_CName = #{mCname,jdbcType=NVARCHAR},
      </if>
      <if test="mUrl != null" >
        M_URL = #{mUrl,jdbcType=NVARCHAR},
      </if>
      <if test="mOrderlevel != null" >
        M_OrderLevel = #{mOrderlevel,jdbcType=VARCHAR},
      </if>
      <if test="mIssys != null" >
        M_IsSys = #{mIssys,jdbcType=INTEGER},
      </if>
      <if test="mIsclose != null" >
        M_IsClose = #{mIsclose,jdbcType=INTEGER},
      </if>
      <if test="mIcon != null" >
        M_Icon = #{mIcon,jdbcType=VARCHAR},
      </if>
    </set>
    where ModuleID = #{moduleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jack.jkbase.entity.SysModule" >
    update sys_Module
    set 
     <if test="mParentid == 0 " >
    	M_AppID = #{mAppid},
     </if>
      M_ParentID = #{mParentid,jdbcType=INTEGER},
      M_CName = #{mCname,jdbcType=NVARCHAR},
      M_URL = #{mUrl,jdbcType=NVARCHAR},
      M_OrderLevel = #{mOrderlevel,jdbcType=VARCHAR},
      M_IsSys = #{mIssys,jdbcType=INTEGER},
      M_IsClose = #{mIsclose,jdbcType=INTEGER},
      M_Icon = #{mIcon,jdbcType=VARCHAR}
    where ModuleID = #{moduleid,jdbcType=INTEGER}
    <!--顶级模块更改时需要所属应用时，需要 同时更新子模块的应用  -->
       <if test="mParentid == 0 " >
         update sys_Module 
         set M_AppID = #{mAppid}
         where M_ParentID=#{moduleid}
      </if>
  </update>
</mapper>