<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.jkbase.mapper.SysOnlineMapper" >
  <resultMap id="BaseResultMap" type="com.jack.jkbase.entity.SysOnline" >
    <id column="OnlineID" property="onlineid" jdbcType="INTEGER" />
    <result column="O_SessionID" property="oSessionid" jdbcType="VARCHAR" />
    <result column="O_UserName" property="oUsername" jdbcType="NVARCHAR" />
    <result column="O_Ip" property="oIp" jdbcType="VARCHAR" />
    <result column="O_LoginTime" property="oLogintime" jdbcType="TIMESTAMP" />
    <result column="O_LastTime" property="oLasttime" jdbcType="TIMESTAMP" />
    <result column="O_LastUrl" property="oLasturl" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    OnlineID, O_SessionID, O_UserName, O_Ip, O_LoginTime, O_LastTime, O_LastUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_Online
    where OnlineID = #{onlineid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_Online
    where OnlineID = #{onlineid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jack.jkbase.entity.SysOnline" >
    insert into sys_Online (OnlineID, O_SessionID, O_UserName, 
      O_Ip, O_LoginTime, O_LastTime, 
      O_LastUrl)
    values (#{onlineid,jdbcType=INTEGER}, #{oSessionid,jdbcType=VARCHAR}, #{oUsername,jdbcType=NVARCHAR}, 
      #{oIp,jdbcType=VARCHAR}, #{oLogintime,jdbcType=TIMESTAMP}, #{oLasttime,jdbcType=TIMESTAMP}, 
      #{oLasturl,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jack.jkbase.entity.SysOnline" >
    insert into sys_Online
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="onlineid != null" >
        OnlineID,
      </if>
      <if test="oSessionid != null" >
        O_SessionID,
      </if>
      <if test="oUsername != null" >
        O_UserName,
      </if>
      <if test="oIp != null" >
        O_Ip,
      </if>
      <if test="oLogintime != null" >
        O_LoginTime,
      </if>
      <if test="oLasttime != null" >
        O_LastTime,
      </if>
      <if test="oLasturl != null" >
        O_LastUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="onlineid != null" >
        #{onlineid,jdbcType=INTEGER},
      </if>
      <if test="oSessionid != null" >
        #{oSessionid,jdbcType=VARCHAR},
      </if>
      <if test="oUsername != null" >
        #{oUsername,jdbcType=NVARCHAR},
      </if>
      <if test="oIp != null" >
        #{oIp,jdbcType=VARCHAR},
      </if>
      <if test="oLogintime != null" >
        #{oLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="oLasttime != null" >
        #{oLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="oLasturl != null" >
        #{oLasturl,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jack.jkbase.entity.SysOnline" >
    update sys_Online
    <set >
      <if test="oSessionid != null" >
        O_SessionID = #{oSessionid,jdbcType=VARCHAR},
      </if>
      <if test="oUsername != null" >
        O_UserName = #{oUsername,jdbcType=NVARCHAR},
      </if>
      <if test="oIp != null" >
        O_Ip = #{oIp,jdbcType=VARCHAR},
      </if>
      <if test="oLogintime != null" >
        O_LoginTime = #{oLogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="oLasttime != null" >
        O_LastTime = #{oLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="oLasturl != null" >
        O_LastUrl = #{oLasturl,jdbcType=NVARCHAR},
      </if>
    </set>
    where OnlineID = #{onlineid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jack.jkbase.entity.SysOnline" >
    update sys_Online
    set O_SessionID = #{oSessionid,jdbcType=VARCHAR},
      O_UserName = #{oUsername,jdbcType=NVARCHAR},
      O_Ip = #{oIp,jdbcType=VARCHAR},
      O_LoginTime = #{oLogintime,jdbcType=TIMESTAMP},
      O_LastTime = #{oLasttime,jdbcType=TIMESTAMP},
      O_LastUrl = #{oLasturl,jdbcType=NVARCHAR}
    where OnlineID = #{onlineid,jdbcType=INTEGER}
  </update>
</mapper>