<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.jkbase.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.jack.jkbase.entity.SysRole" >
    <id column="RoleID" property="roleid" jdbcType="INTEGER" />
    <result column="R_RoleName" property="rRolename" jdbcType="NVARCHAR" />
    <result column="R_Description" property="rDescription" jdbcType="NVARCHAR" />
  </resultMap>
  <select id="findAll" resultMap="BaseResultMap">
  select * from sys_Role
  </select>
  <!-- 自动 -->
  <sql id="Base_Column_List" >
    RoleID, R_RoleName, R_Description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_Role
    where RoleID = #{roleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_Role  where RoleID = #{roleid,jdbcType=INTEGER};
    delete from sys_UserRole where R_RoleID=#{value};
    delete from sys_RoleApp where A_RoleID=#{value};
    delete from sys_RolePermission where P_RoleID=#{value};
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="roleid" >
    insert into sys_Role (R_RoleName, R_Description
      )
    values (#{rRolename,jdbcType=NVARCHAR}, #{rDescription,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="roleid">
    insert into sys_Role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rRolename != null" >
        R_RoleName,
      </if>
      <if test="rDescription != null" >
        R_Description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rRolename != null" >
        #{rRolename,jdbcType=NVARCHAR},
      </if>
      <if test="rDescription != null" >
        #{rDescription,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jack.jkbase.entity.SysRole" >
    update sys_Role
    <set >
      <if test="rRolename != null" >
        R_RoleName = #{rRolename,jdbcType=NVARCHAR},
      </if>
      <if test="rDescription != null" >
        R_Description = #{rDescription,jdbcType=NVARCHAR},
      </if>
    </set>
    where RoleID = #{roleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jack.jkbase.entity.SysRole" >
    update sys_Role
    set R_RoleName = #{rRolename,jdbcType=NVARCHAR},
      R_Description = #{rDescription,jdbcType=NVARCHAR}
    where RoleID = #{roleid,jdbcType=INTEGER}
  </update>
</mapper>