<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jack.jkbase.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.jack.jkbase.entity.ViewSysUser" >
    <id column="U_LoginName" property="uLoginname" jdbcType="NVARCHAR" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="U_CName" property="uCname" jdbcType="NVARCHAR" />
    <result column="U_Pwd" property="uPwd" jdbcType="VARCHAR" />
    <result column="U_CompanyID" property="uCompanyid" jdbcType="INTEGER" />
    <result column="U_MobileNo" property="uMobileno" jdbcType="VARCHAR" />
    <result column="U_PhotoUrl" property="uPhotourl" jdbcType="NVARCHAR" />
    <result column="U_JoinTime" property="uJointime" jdbcType="TIMESTAMP" />
    <result column="U_Type" property="uType" jdbcType="INTEGER" />
    <result column="U_Status" property="uStatus" jdbcType="INTEGER" />
    <result column="U_LastTime" property="uLasttime" jdbcType="TIMESTAMP" />
    <result column="U_LastIp" property="uLastip" jdbcType="VARCHAR" />
    <result column="U_ExtendField" property="uExtendfield" jdbcType="LONGNVARCHAR" />
     <result column="U_Salt" property="uSalt"  />
        <!--  -->
    <result column="U_TypeText" property="U_TypeText" />
    <result column="U_StatusText" property="U_StatusText" />
    <result column="U_CompanyName" property="U_CompanyName" />
    <association property="sysCompany" javaType="com.jack.jkbase.entity.SysCompany" 
    		resultMap="com.jack.jkbase.mapper.SysCompanyMapper.BaseResultMap"/>
  </resultMap>
  <!--  查询所有 -->
  <select id="selectAll" resultMap="BaseResultMap">
  	select  * from View_sys_User
  </select>
  <select id="selectUserPwd" resultMap="BaseResultMap">
  	select * from View_sys_User
  	where U_LoginName = #{param1} and U_Pwd = #{param2}
  </select>
  <select id="selectUsername" resultMap="BaseResultMap">
  	select * from View_sys_User
  	where U_LoginName = #{value}
  </select>
  <!-- 排除某角色的用户，用于该角色添加用户  -->
  <select id="selectByRoleExclude" resultMap="BaseResultMap">
  	select * from View_sys_User where UserId not in 
  	(select R_UserID from sys_UserRole where R_RoleID = #{param1})
  </select>
  <!-- 重置密码 -->
  <update id="updatePassword">
  	update sys_User
  	set U_Pwd = #{param2}
  	where UserId = #{param1}
  </update>
  <!-- 重置密码 -->
  <update id="updatePhoto">
  	update sys_User
  	set U_PhotoUrl = #{param2}
  	where UserId = #{param1}
  </update>
  
  <!-- 自动  -->
   <sql id="Base_Column_List" >
    UserId, U_LoginName, U_CName, U_Pwd, U_CompanyID, U_MobileNo, U_PhotoUrl, U_JoinTime, 
    U_Type, U_Status, U_LastTime, U_LastIp, U_ExtendField
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
   select * from View_sys_User where UserId = #{param1}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_User where UserId = #{value};
    delete from sys_UserRole where R_UserID = #{value};
  </delete>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="userid" >
    insert into sys_User ( U_LoginName, U_CName, 
      U_Pwd, U_CompanyID, U_MobileNo, 
      U_PhotoUrl,  U_Type, 
      U_Status, U_LastTime, U_LastIp, 
      U_ExtendField)
    values (#{uLoginname,jdbcType=NVARCHAR}, #{uCname,jdbcType=NVARCHAR}, 
      #{uPwd,jdbcType=VARCHAR}, #{uCompanyid,jdbcType=INTEGER}, #{uMobileno,jdbcType=VARCHAR}, 
      #{uPhotourl,jdbcType=NVARCHAR},#{uType,jdbcType=INTEGER}, 
      #{uStatus,jdbcType=INTEGER}, #{uLasttime,jdbcType=TIMESTAMP}, #{uLastip,jdbcType=VARCHAR}, 
      #{uExtendfield,jdbcType=LONGNVARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="userid">
    insert into sys_User
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uLoginname != null" >
        U_LoginName,
      </if>
      <if test="uCname != null" >
        U_CName,
      </if>
      <if test="uPwd != null" >
        U_Pwd,
      </if>
      <if test="uCompanyid != null" >
        U_CompanyID,
      </if>
      <if test="uMobileno != null" >
        U_MobileNo,
      </if>
      <if test="uPhotourl != null" >
        U_PhotoUrl,
      </if>
      <if test="uType != null" >
        U_Type,
      </if>
      <if test="uStatus != null" >
        U_Status,
      </if>
      <if test="uLasttime != null" >
        U_LastTime,
      </if>
      <if test="uLastip != null" >
        U_LastIp,
      </if>
      <if test="uExtendfield != null" >
        U_ExtendField,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uLoginname != null" >
        #{uLoginname,jdbcType=NVARCHAR},
      </if>
      <if test="uCname != null" >
        #{uCname,jdbcType=NVARCHAR},
      </if>
      <if test="uPwd != null" >
        #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="uCompanyid != null" >
        #{uCompanyid,jdbcType=INTEGER},
      </if>
      <if test="uMobileno != null" >
        #{uMobileno,jdbcType=VARCHAR},
      </if>
      <if test="uPhotourl != null" >
        #{uPhotourl,jdbcType=NVARCHAR},
      </if>
      <if test="uType != null" >
        #{uType,jdbcType=INTEGER},
      </if>
      <if test="uStatus != null" >
        #{uStatus,jdbcType=INTEGER},
      </if>
      <if test="uLasttime != null" >
        #{uLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="uLastip != null" >
        #{uLastip,jdbcType=VARCHAR},
      </if>
      <if test="uExtendfield != null" >
        #{uExtendfield,jdbcType=LONGNVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jack.jkbase.entity.SysUser" >
    update sys_User
    <set >
      <if test="uLoginname != null" >
        U_LoginName = #{uLoginname,jdbcType=NVARCHAR},
      </if>
      <if test="uCname != null" >
        U_CName = #{uCname,jdbcType=NVARCHAR},
      </if>
      <if test="uPwd != null" >
        U_Pwd = #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="uCompanyid != null" >
        U_CompanyID = #{uCompanyid,jdbcType=INTEGER},
      </if>
      <if test="uMobileno != null" >
        U_MobileNo = #{uMobileno,jdbcType=VARCHAR},
      </if>
      <if test="uPhotourl != null" >
        U_PhotoUrl = #{uPhotourl,jdbcType=NVARCHAR},
      </if>
      <if test="uJointime != null" >
        U_JoinTime = #{uJointime,jdbcType=TIMESTAMP},
      </if>
      <if test="uType != null" >
        U_Type = #{uType,jdbcType=INTEGER},
      </if>
      <if test="uStatus != null" >
        U_Status = #{uStatus,jdbcType=INTEGER},
      </if>
      <if test="uLasttime != null" >
        U_LastTime = #{uLasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="uLastip != null" >
        U_LastIp = #{uLastip,jdbcType=VARCHAR},
      </if>
      <if test="uExtendfield != null" >
        U_ExtendField = #{uExtendfield,jdbcType=LONGNVARCHAR},
      </if>
    </set>
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jack.jkbase.entity.SysUser" >
    update sys_User
    set U_LoginName = #{uLoginname,jdbcType=NVARCHAR},
      U_CName = #{uCname,jdbcType=NVARCHAR},
      U_Pwd = #{uPwd,jdbcType=VARCHAR},
      U_CompanyID = #{uCompanyid,jdbcType=INTEGER},
      U_MobileNo = #{uMobileno,jdbcType=VARCHAR},
      U_PhotoUrl = #{uPhotourl,jdbcType=NVARCHAR},
      U_JoinTime = #{uJointime,jdbcType=TIMESTAMP},
      U_Type = #{uType,jdbcType=INTEGER},
      U_Status = #{uStatus,jdbcType=INTEGER},
      U_LastTime = #{uLasttime,jdbcType=TIMESTAMP},
      U_LastIp = #{uLastip,jdbcType=VARCHAR},
      U_ExtendField = #{uExtendfield,jdbcType=LONGNVARCHAR}
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>